.vs/
ArduinoJson/out/build/
ActivityFramework/Samples/SerialFrameworkSample/SerialFrameworkSample/__vm/
ActivityFramework/Samples/voltageActivitySample/__vm/
ActivityFramework/Samples/SerialFrameworkSample/SerialFrameworkSample_Test/x64/
ActivityFramework/Samples/voltageActivitySample/obj/x64/
ActivityFramework/Samples/SerialFrameworkSample/SerialFrameworkSample/obj/
ActivityFramework/Samples/voltageActivitySample/obj/
ActivityFramework/Samples/SerialFrameworkSample/SerialFrameworkSample_Test/Debug/
ActivityFramework/Samples/SerialFrameworkSample/SerialFrameworkSample_Test/Release/
ActivityFramework/Samples/voltageActivitySample/src/_micro-api/
ActivityFramework/Samples/x64/
ActivityFramework/Samples/voltageActivitySample_test/x64/
avr_mocking_framework/project_sample/x64/
avr_mocking_framework/project_sample/12VoltsBatteriesRack_test/x64/Debug/mf_model_AnalogPortB.sbr
avr_mocking_framework/project_sample/12VoltsBatteriesRack_test/x64/
avr_mocking_framework/project_sample/Battery_Charge_Rack_Modular_Protection_Unit/__vm/
avr_mocking_framework/project_sample/Battery_Charge_Rack_Modular_Protection_Unit/obj/
avr_mocking_framework/project_sample/Battery_Charge_Rack_Modular_Protection_Unit/12VoltsBatteriesRack/__vm/
avr_mocking_framework/project_sample/Battery_Charge_Rack_Modular_Protection_Unit/12VoltsBatteriesRack/obj/
avr_mocking_framework/project_sample/Battery_Charge_Rack_Modular_Protection_Unit/12VoltsBatteriesRack_test/x64/Debug/12VoltsB.4C7AF44E.tlog/CL.command.1.tlog
avr_mocking_framework/project_sample/Battery_Charge_Rack_Modular_Protection_Unit/12VoltsBatteriesRack_test/x64/
avr_mocking_framework/x64/
