.vs/Libraries/v16/.suo
.vs/Libraries/v16/Browse.VC.db
LSG_Sensor/.vs/ProjectSettings.json
LSG_Sensor/.vs/slnx.sqlite
LSG_Sensor/.vs/VSWorkspaceState.json
LSG_Sensor/.vs/LSG_Sensor/v16/.suo
LSG_Sensor/.vs/LSG_Sensor/v16/Browse.VC.db
